$def with (form, success='')

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MLSS Admin - Data Updater</title>
<link href="/css/application_forms.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/img/favicon.ico" />
</head>

<body>

<h1>Data Updater</h1>

<div class="submitted">
$if success == 'False':
    <p>Some <strong>error occured</strong>, go back and try again. If the problem persists <a href="mailto:arequipa.mlss.webmaster@gmail.com?subject=Report an error [MLSS website]">contact the webmaster, webmaster@gmail.com</a>.</p>
$else:
    Use this to update the applicants columns according given their emails (first column on the csv).
    <br>
    $if success == 'True':
        <br>
        <strong>Updated!.</strong>

    <form method="post" enctype="multipart/form-data" action="">
        $:form.render_css()
    </form>
</div>

</body>
</html>
