<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Machine Learning Summer School at Arequipa, Peru - Application period has now closed</title>
<link href="/css/application_forms.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/img/favicon.ico" />
</head>

<body>

<div class="submitted">
    Deadline for sending reference letters was on June 5th.
    <br>
    <br>
    <strong>You referred might receive an admission notification on June 15th</strong>    <br>
        <br>
        Good luck everyone!!
        <br>
        <br>
Machine Learning Summer School 2016 Arequipa, Peru
Organizing Team
www.ucsp.edu.pe/ciet/mlss16
--------------------------------------------------------------
</div>
</body>
</html>
